@charset "ISO-8859-1";
html {
    background: white;
}
h3 {
    margin: 0px;
    padding: 0px;
}
body {
   
    margin: 0px auto;
    background: #F8F8F8;
    padding:0px 5px;
    text-align:center;
}
  
.header-container {
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: relative;
    background: #5f5f5f;
    color: white;
}
.header-container .header-bar  {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.header-container .header-bar  a  {
    color: white;
    font-size: bold;
}
  
.footer-container {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #ccc;
}
  
.site-name {
    font-size:200%;
    margin:10px 10px 10px 0px;
    padding: 5px;
}
  

  
  
