<!DOCTYPE html>
<!--Déclarer le namespace xmlns de thymeleaf avec le préfixe qu'on utilise qui est th -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Produits</title>
<!-- Design bootstrap -->
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<!-- LINK CSS FILE -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
<link rel="icon" type="image/png"
	href="https://zupimages.net/up/20/16/k287.jpg" />

</head>
<body>
	<!-- DEBUT HEADER -->
	<div class="header-container">
		<div class="site-name">
			<a href="https://zupimages.net/viewer.php?id=20/16/wge5.png"> <img
				src="https://zupimages.net/up/20/16/wge5.png" alt="" height="60x"
				width="250x">
			</a>
		</div>
		<div class="header-bar">
			<!--BOUTONS -->
			<button type="button" class="btn"
				style="background: #E70014; color: white">
				Compte <span class="fa fa-user"> </span>
			</button>

			<button type="button" class="btn"
				style="background: #E70014; color: white"; >
				Favoris <span class="fa fa-heart"></span>
			</button>

			
			<!--BOUTONS -->
		</div>
	</div>


	<!-- FIN HEADER -->
	
	<div class="card-header">
		<h6 style="color: #E70014; font-size: 200%; font-family: fantasy;">Contenu
		actuel de votre panier</h6>
		
		<button type="button" class="btn"
				onclick="window.location='products'"
				style="background: #E70014; color: white">
				Ajouter d'autres articles <span class="fa fa-shopping-cart"></span>
			</button>
			
			<button type="button" class="btn"
				style="background: #E70014; color: white">
				Valider votre Panier <span class="fa fa-shopping-cart"></span>
			</button>
			<br>
			<div style="color: black; font-size: 150%; font-family: fantasy;">
			
		 	
  		  <span th:text="'Le prix de votre panier est: ' + ${prixTotal} + ' €'"></span>
		
		
	</div>
	</div>
	<div class="row">
		<tr th:each="p:${pageProduitsPanier}">
			<div class="col-lg-4">
				<div class="card mt-2 ml-5">
					<div class="card-body">

						<br> <img th:src="${p.photo}" alt="PhotoProduit"
							style="width: 250px; height: 250px">
						<h6 th:text="${p.designation}"></h6>
						<h6 class="fa fa-tag" th:text="'    '+${p.prix} + ' €'"></h6>
						<br> <br>

						<!-- Boutton Ajouter au panier -->

						<!--				<button  class="btn" th:href="@{deleteProduit(id=${p.id},page=${currentPage}, size=${size}, motCle=${motCle})}"
                        style="color: #E70014; border: solid #E70014; font-weight: bold;">
                      <span class="fa fa-cart-plus"> </span> Ajouter au panier
                    </button>-->
						<!-- FIN Boutton Ajouter au panier -->
					</div>
				</div>
				<br>
			</div>

		</tr>
		</div>
		



	<!-- DEBUT FOOTER -->

	<footer class="page-footer" style="color: white; background: #E70014;">
		<hr>

		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Tunishop</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>Le contenu de ce site est protégé par la loi du copyright et
						appartient à Hiba CHAMEKH & Amina RHAIEM Le concept du site
						TuniShop est de proposer mode et qualité des produits tunisiens au
						meilleur prix.</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Produits</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="#!" style="color: white;">Femme</a>
					</p>
					<p>
						<a href="#!" style="color: white;">Homme</a>
					</p>
					<p>
						<a href="#!" style="color: white;">Accessoires</a>
					</p>
					<p>
						<a href="#!" style="color: white;">Promotions</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Help</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="#!" style="color: white;">Service Client</a>
					</p>
					<p>
						<a href="#!" style="color: white;">Mon compte</a>
					</p>
					<p>
						<a href="#!" style="color: white;">Magasin</a>
					</p>
					<p>
						<a href="#!" style="color: white;">Mentions Légales</a>
					</p>


				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-home mr-3"></i> Tours,37000
					</p>
					<p>
						<i class="fa fa-envelope mr-3"></i> TuniShop@gmail.com
					</p>
					<p>
						<i class="fa fa-phone mr-3"></i> + 01 234 567 88
					</p>
					<p>
						<i class="fa fa-print mr-3"></i> + 01 234 567 89
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">
			© 2020 Copyright:TuniShop tous droits réservés <a href="#"
				style="color: white;"></a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

</body>
</html>